/*                          dropdown                            */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #242424;
  color: $white;
  text-align: center;
  min-width: 140px;
  width: 100%;
  border-radius: 10px;
  z-index: 300;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 12px;
  transition: all 0.3s ease-in-out;
}
.dropdown-content a {
  color: $white;
  padding: 12px 10px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $hover;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -1px;
    // border: 1px solid #676666;
    background-color: #676666;
    height: 1px;
  }
  &:last-of-type::after {
    display: none;
  }
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.header-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  @include max-991{
    gap: 15px;
  }
}
.menu-bars {
  padding: 0;
  cursor: pointer;
  position: relative;
  font-size: 26px;
  background-color: transparent;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $main;
  outline: none !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $hover;
  }
}

/*                          dropdown                            */
header {
  width: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 9;
  background-color: $white;
  box-shadow: 0px 4px 10px 0px #0000000f;
}
.top-header a {
  text-decoration: none;
}
.top-header{
  .about-link{
    height: 51px;
    @include max-767{
      width: 130px;
      font-size: 16px;
    }
  }
}
.menu-bars {
  display: none;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  transition: all 0.3s ease-in-out;
}
.big-menu > li a {
  color: $sec;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $hover;
  }
}
.big-menu > li.active a {
  color: $hover;
}
.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 0;
  @include min-1440 {
    gap: 40px;
  }
}
.logo {
  display: inline-block;
  text-decoration: none !important;
  color: $hover;
  font-weight: 700;
  font-size: 30px;
  @include tr;
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
  }
  &:hover {
    color: $hover;
  }
}
.nav-head {
  width: 100%;
  display: none;
}
.show-icons {
  display: flex;
  align-items: center;
}
/*overlay*/
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  background-color: $main;
  display: none;
}
.search-cont {
  display: flex;
  align-items: center;
  gap: 16px;
  @include max-991 {
    order: 3;
    margin-top: 10px;
    width: 100%;
  }
}
.search-section {
  position: relative;
  width: 250px;
  max-width: 100%;
  @include min-1440 {
    width: 256px;
  }
}
.search-input {
  position: relative;
  background-color: rgba(0, 121, 64, 0.039);
  max-width: 100%;
  width: 100%;
  height: 52px;
  padding: 0 25px;
  padding-inline-start: 50px;
  font-size: 18px;
  color: $text;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
  @include max-991 {
    font-size: 16px;
  }
}
.search-input:focus {
  outline: none;
  border-color: $hover;
}
.search-input::placeholder {
  color: $text;
}
.search-button {
  position: absolute;
  top: 50%;
  inset-inline-start: 16px;
  border-radius: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 0;
  transition: 0.3s;
  @include max-991 {
    font-size: 20px;
  }
}
.search-button:hover {
  color: var(--main-hover);
}
@media (max-width: 991px) {
  .nav-header {
    flex-wrap: wrap;
  }
  .search-section {
    width: 100%;
  }
}
.filter-btn {
  width: 105px;
  height: 52px;
  border-radius: 8px;
  border: none;
  outline: none !important;
  @include tr;
  flex-shrink: 0;
  @include flexCenter;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  color: $text;
  background-color: rgba(0, 121, 64, 0.039);
  i {
    font-size: 16px;
    color: #292d32;
  }
  &:hover {
    color: $white;
    background-color: $hover;
    i {
      color: $white;
    }
  }
}
.cart-ancor {
  position: relative;
  font-size: 26px;
  color: $hover;
  @include tr;
  &:hover {
    color: $main;
  }
}
.counter {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $hover;
  color: $white;
  font-size: 12px;
  padding-top: 2px;
  font-weight: 500;
  border-radius: 50%;
}
.user-profile .dropdown-toggle::after,
.user-notification .dropdown-toggle::after {
  display: none;
}
.user-profile {
  cursor: pointer;
}
.user-profile .user-cont {
  display: flex;
  align-items: center;
}
.user-profile .profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.user-profile .user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #1d1e20;
}
.user-info i {
  font-size: 18px;
  @include tr;
  .show & {
    display: inline-block;
    transform: rotate(180deg);
  }
}
.profile-menu {
  position: relative;
  border-radius: 10px;
  padding: 16px;
  border: none;
  box-shadow: 0px 4px 40px 0px #0000000a;
  background: #fefefe;
  max-width: 258px;
  min-width: 208px;
}
.profile-menu a {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  gap: 8px;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  color: #252729;
  transition: 0.3s;
  &.logout {
    color: #ff443a;
    i {
      color: #ff443a;
      display: inline-block;
      transform: scaleX(-1);
    }
  }
  i {
    font-size: 24px;
    color: #787486;
  }
}
.profile-menu a:hover {
  color: $hover;
  i {
    color: $hover;
  }
}
/*                          header section                     */
/*                    menu in phone size                      */

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-header figure img {
    max-width: 180px;
  }
  .big-menu > li a {
    font-size: 12px;
  }
  .big-menu {
    gap: 15px;
  }
}
@media (max-width: 991px) {
  .hide-sm {
    display: none;
  }
  .show-icons {
    display: flex;
    align-items: center;
  }
  .nav-header figure img {
    max-width: 120px;
  }
  .nav-header {
    padding: 20px 0;
  }
  .btn-cont {
    display: none;
  }
  .lang-anchor {
    display: none;
  }
  .navgition {
    .btn-cont {
      display: flex;
      flex-direction: column;
    }
    .lang-anchor {
      display: block;
    }
    .dropdown-content a {
      padding: 5px 12px;
    }
  }
  .header-cont {
    gap: 12px;
  }

  .menu-bars {
    display: flex;
  }
  .close-menu {
    font-size: 30px;
    color: $main;
    @include tr;
    @include flexCenter;
    outline: none !important;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 20px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: #fff;
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }
  // .open-bars .menu-bars {
  //   color: $main;
  // }
  .nav-head {
    display: flex;
    height: auto;
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
    padding: 20px 0 20px;
  }
  .nav-header .big-menu {
    display: block;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
    padding: 30px 0;
  }
  .big-menu li {
    margin-bottom: 15px;
  }
  .chevron-down {
    line-height: unset;
  }
  .nav-header li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .lang-anchor .dropdown-content {
    display: none;
    transition: none;
    background-color: transparent;
    position: static;
    inset: unset;
    transform: none;
    text-align: start;
    a::after {
      display: none;
    }
  }
}
/*                    menu in phone size                      */
